<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.crews.sow"
    version   = "1.0.0">

<name>Safe On Wheels</name>

<description>
Safe On Wheels
</description>

<author href="https://example.com" email="you@example.com">
Anirban
</author>

<icon src="icon.png" gap:role="default" />
<preference name="prerendered-icon" value="true" />
<preference name="load-url-timeout" value="180000" />
<icon src="icon.png" default="true" />

<gap:splash src="newloading.jpg"/>

</widget>
